@model IEnumerable<Anladim.Models.EntityFramework.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı Yönetimi</h2>

@using (Html.BeginForm("Index", "AdminUsers", FormMethod.Get))
{
    <p>
        Maile Gore Aranacak: @Html.TextBox("searching")
        <input type="submit" value="ara" />
    </p>
}

<p>
    @Html.ActionLink("Yeni Kullanici Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.UserId }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.UserId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }

</table>
@*<div>
        @Html.ActionLink("Geri","Index","AdminHome")
    </div>*@
