@model IEnumerable<Anladim.Models.EntityFramework.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Yönetimi</h2>

@using (Html.BeginForm("Index", "AdminProducts", FormMethod.Get))
{
    <p>
        Isime Gore Aranacak: @Html.TextBox("searching")
        <input type="submit" value="ara" />
    </p>
}

<p>
    @Html.ActionLink("Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
@*<div>
        @Html.ActionLink("Geri", "Index", "AdminHome")
    </div>*@