@model Anladim.Models.EntityFramework.Order
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Alınan Ürun</td>
            <td>Alınan Adet</td>
            <td>Ürünün Fiyatı</td>

        </tr>
        @foreach (var item in Model.OrderProducts)
        {
            <tr>

                <th>@item.Product.Name</th>
                <th>@item.Quantity</th>
                <th>@item.Product.Price</th>

            </tr>
}
    </thead>
</table>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Toplam Ödenilen Tutar</td>
            <th>@Model.TotalPrice.ToString("##.## TL")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gönderilen Adres</td>
            <th>@Model.UserAddress.Title<br />@Model.UserAddress.City<br />@Model.UserAddress.Address</th>
        </tr>
    </tbody>
</table>
<div id="edd_checkout_form_wrap" class="edd_clearfix">
    <fieldset id="edd_purchase_submit">
    </fieldset>
</div>