@model Anladim.Models.EntityFramework.User

@{
    ViewBag.Title = "ProfilForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

@using (Html.BeginForm("Save", "Profil", new { @class = "form-control" }))

{
    @Html.AntiForgeryToken()

    <div class=" form-group">
        @Html.LabelFor(x => x.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class=" form-group">
        @Html.LabelFor(x => x.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname)
    </div>
    <div class=" form-group">
        @Html.LabelFor(x => x.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(x => x.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Phone)
    </div>
    <div class=" form-group">
        @Html.LabelFor(x => x.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>

    @Html.HiddenFor(x => x.UserId)

    <div id="edd_checkout_form_wrap" class="edd_clearfix">
        <fieldset>
            <button type="submit" class=" btn btn-info">Kaydet</button>
        </fieldset>
    </div>
}
<br />
<br />


