@model Anladim.Models.EntityFramework.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="underlined-title">
    <div class="editContent">
        <h1 class="text-center latestitems">ÜRÜN DETAY</h1>
    </div>
    <div class="wow-hr type_short">
        <span class="wow-hr-h">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="productbox">
            <img src="@Model.Image" alt="">
            <div class="clearfix">
            </div>
            <br />
            <div class="product-details text-left">
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("OrderNow","Cart", new {id=Model.ProductId })" class="btn btn-buynow">@Model.Price TL - Purchase</a>
        <div class="properties-box">
            <ul class="unstyle">
                <li><b class="propertyname">İsim:</b>@Model.Name</li>
                <li><b class="propertyname">Kategorisi:</b> @Model.Category</li>
                <li><b class="propertyname">Markası:</b> @Model.Brand</li>
                <li><b class="propertyname">Modeli:</b> @Model.Model</li>
            </ul>
        </div>
    </div>
</div>
<div id="edd_checkout_form_wrap" class="edd_clearfix">
    <fieldset id="edd_purchase_submit">
    </fieldset>
</div>
