@using Anladim.ViewModels;
@{
    ViewBag.Title = "IndexDeneme";

    List<Cart> cart = (List<Cart>)Session["Cart"];
}

<div class="underlined-title">
    <div class="editContent">
        <h1 class="text-center latestitems">SEPET</h1>
    </div>
    <div class="wow-hr type_short">
        <span class="wow-hr-h">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </div>
</div>
@{
    if (Session["Cart"] != null)
    {
        <section class="item content">
            <div class="container toparea">
                @using (Html.BeginForm("UpdateCart", "Cart", FormMethod.Post))
                {
                    <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">

                        <div id="edd_checkout_cart_wrap">
                            <table id="edd_checkout_cart" class="ajaxed">
                                <thead>
                                    <tr class="edd_cart_header_row">
                                        <th class="edd_cart_item_name">
                                            Ürün Adı
                                        </th>
                                        <th class"quantity_add">
                                            Adedi
                                        </th>
                                        <th class="edd_cart_item_price">
                                            Ürün Fiyatı
                                        </th>
                                        <th class="edd_cart_actions">
                                            Sil
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (List<Cart>)Session["Cart"])
                                    {
                                        <tr class="edd_cart_item" id="edd_cart_item_0_25" data-download-id="25">
                                            <td class="edd_cart_item_name">
                                                <div class="edd_cart_item_image">
                                                    <img width="25" height="25" src="@item.Product.Image" alt="">
                                                </div>
                                                <span class="edd_checkout_cart_item_title">@item.Product.Name</span>
                                            </td>
                                            <td>
                                                <input type="number" name="quantity" id="quantity" style="width:50px" value="@item.Quantity" />
                                                &nbsp;<span id="errmsg"></span>
                                            </td>
                                            <td class="edd_cart_item_price">
                                                @(String.Format("{0:N0}", item.Product.Price * item.Quantity))TL
                                            </td>
                                            <td class="edd_cart_actions">
                                                @Html.ActionLink("Sil", "Delete", "Cart", new { id = item.Product.ProductId },
                                                 new
                                                      {
                                                          onclick = "return confirm ('Silmek istediğinize emin misiniz?');",
                                                     @class = "delete-shopping"
                                                      })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    
                                    <tr class="edd_cart_footer_row">
                                        <th colspan="5" class="edd_cart_total">
                                            Toplam: <span class="edd_cart_amount" data-subtotal="11.99" data-total="11.99">
                                                @{
                                                    List<Cart> cartt = (List<Cart>)Session["Cart"];
                                                    var total = String.Format("{0:N0}", cartt.Sum(x => x.Quantity * x.Product.Price));
                                                }
                                                @total TL
                                            </span>
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div id="edd_checkout_form_wrap" class="edd_clearfix">
                                <fieldset id="edd_purchase_submit">
                                    <button class="btn btn-success">Sepeti Güncelle</button>
                                    <a href="/AdresListesi">
                                        <i class="fa fa-credit-card"></i>
                                    Onayla</a>
                                    
                                </fieldset>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </section>
    }

    else
    {

        <div id="edd_checkout_form_wrap" class="edd_clearfix">
            <div class="center" style="text-align:center">
                <fieldset id="edd_purchase_submit">
                    <h2>Sepetinizde Urun Bulunmamaktadir.</h2>
                </fieldset>
            </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br />

    }
}

<script src="~/Scripts/Cart.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#quantity").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Sadece Sayı Gir!").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>
